body {
    padding: 0px;
    margin:0px;
    /* background: #9733EE !important; */
    height: 100%;
}
.box-login{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(#9733EE,#DA22FF)!important;
}

.jumbotron-login {
    background: #0000003d !important;
    padding-top:20px;
    padding-bottom: 60px;
    border-radius: 10px;
    border: 2px solid #DA22FF;
    box-shadow: 0px 0px 15px 5px #DA22FF;
}

.box-content{
    justify-content: center;
    display: flex;
    width:100%;
}
.mt-auto.ligin-logo {
    text-align: center;
    margin-bottom: 10px;
}

i.logo{
    font-size: 30px;
    background-color:#9733EE;
    color: #DA22FF;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 50%;
    border: 2px solid #f8f9fa;
}
.login-title{
    font-family: cursive;
}

input[type=checkbox] {
    transform: scale(1.5);
}